<div id="wrapper">
    <div id="carousel">
        <app-carousel></app-carousel>
    </div>
    <!--
    <div id="grid" class="container-fluid">
        <div class="row justify-content-between">
            <app-flight-status class="col-md-4 col-lg-4 mt-md-5 ml-lg-5 ml-md-2 pt-3 pb-3 border border-info debug-border info-box"></app-flight-status>
            <div id="offer" class="col-md-6 col-lg-4 offset-lg-2 mt-md-5 mr-md-2 mr-lg-5 pt-3 pb-3 border border-info debug-border  info-box">
                <h2>Special Offer of the month {{specialOffer}}</h2>
            </div>
        </div>

        <div class="row justify-content-between mr-md-1">
            <div class="col-12 col-lg-4 border border-info ml-lg-5 mr-md-2 ml-md-2 mt-md-5 pt-3 pb-3 info-box">
                <app-org-dest-selector></app-org-dest-selector>
            </div>
        </div>

    </div>
-->
    <div id="grid" class="home-container">
        <div id="row" class="">
            <div id="flight-status" class="border border-info debug-border info-box">
                <app-flight-status></app-flight-status>
            </div>
            <div id="offer" class="border border-info debug-border  info-box">
                <h2>Special Offer of the month {{specialOffer}}</h2>
            </div>
            <div id="org-dest-selector" class="border border-info info-box">
                <app-org-dest-selector></app-org-dest-selector>
            </div>
        </div>

    </div>
</div>