<div id="wrapper">
<!--    <div id="carousel">
        <app-carousel></app-carousel>
    </div>
-->    
    <div id="grid" class="home-container">
        <div id="row">
            <div id="flight-status" class="card">
                <app-flight-status class="card-body"></app-flight-status>
            </div>
            <div id="offer" class="card">
                <div class="card-body">
                    <h2>Special Offer of the month {{specialOffer}}</h2>
                </div>
            </div>
            <div id="org-dest-selector" class="card">
                <app-org-dest-selector class="card-body"></app-org-dest-selector>
            </div>
        </div>

    </div>
</div>