<h3>Purchase this flight</h3>

<div *ngIf="selectedFlight">
  <div class="row">
    <div class="col-md-2 col-xs-4 form-label">Flight Number : </div>
    <div class="col-md-1 col-xs-8">{{selectedFlight.flightNumber}}</div>
    <div class="col-md-1 col-xs-4 form-label">Origin : </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight.origin}}</div>
    <div class="col-md-1 col-xs-4 form-label">Destination : </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight.destination}}</div>
  </div>
  <div class="row">
    <h4 class="col-md-1 col-xs-4 form-label">Departure: </h4>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-4 form-label">Day: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight.departDay}}</div>
    <div class="col-md-1 col-xs-4 form-label">Time: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight.departTime}}</div>
  </div>
  <div class="row">
    <h4 class="col-md-1 col-xs-4 form-label">Arrive: </h4>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-4 form-label">Day: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight.arriveDay}}</div>
    <div class="col-md-1 col-xs-4 form-label">Time: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight.arriveTime}}</div>
  </div>
</div>

<div class="row">
  <div class="form-outline col-md-12">

        <form [formGroup]="payForm" (ngSubmit)="onSubmit()">

          <div class="form-group" [class.has-error]="!name.valid && name.touched" >
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="model.name" class="form-control" id="name" placeholder="Name"   formControlName='name'>
          </div>



      <div class="form-group" [class.has-error]="!address.valid && address.touched">
        <label for="address">Address</label>
        <textarea [(ngModel)]="model.address" class="form-control" id="address" placeholder="Address" rows="4"  formControlName='address'></textarea>
      </div>

      <div class="form-group" [class.has-error]="!email.valid && email.touched">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="model.email" class="form-control" id="email" placeholder="Email"  formControlName='email'>
      </div>

      <div class="form-group">
        <label for="cardNum">Card Number</label>
        <input type="text" [(ngModel)]="model.cardNum" class="form-control" id="cardNum" placeholder="Card Number"  formControlName='cardNum'>
      </div>
      <div class="form-group">
        <label for="cardType">Card Type</label>
        <select type="text" [(ngModel)]="model.cardType" class="form-control" id="cardType" placeholder="Card Type"  formControlName='cardType'>
          <option>VISA</option>
          <option>AMEX</option>
        </select>
      </div>
      <div class="form-group">
        <label for="expDate">Card Expiry</label>
        <input type="month" [(ngModel)]="model.expDate" class="form-control" id="expDate"  formControlName='expDate'>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!payForm.valid" >Buy Flight</button>


    </form>

  </div>
</div>
{{jsonModel}}
