<div *ngIf="selectedFlight">
    <div>
        <h3>Purchase this flight</h3>
    </div>
    <div>
        <div>
            <div class="row">
                <div class="col  panel">
                    <div class="row">
                        <div class="col-md-2 col-xs-4 form-label">Flight#: </div>
                        <div class="col-md-1 col-xs-8">{{selectedFlight.flightNumber}}</div>
                        <div class="col-md-2 col-xs-4 form-label">Origin&nbsp;:</div>
                        <div class="col-md-2  col-xs-8">{{selectedFlight.origin}}</div>
                        <div class="col-md-3 col-xs-4 form-label">Destination&nbsp;:</div>
                        <div class="col-md-1  col-xs-8">{{selectedFlight.destination}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-4 form-label  font-weight-bold">Departure: </div>
                        <div class="col-md-2 col-xs-4 form-label">Day: </div>
                        <div class="col-md-2 col-xs-8">{{selectedFlight.departDay}}</div>
                        <div class="col-md-3 col-xs-4 form-label">Time: </div>
                        <div class="col-md-2  col-xs-8">{{selectedFlight.departTime}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-4 form-label font-weight-bold">Arrival: </div>
                        <div class="col-md-2 col-xs-4 form-label">Day: </div>
                        <div class="col-md-2  col-xs-8">{{selectedFlight.arriveDay}}</div>
                        <div class="col-md-3 col-xs-4 form-label">Time: </div>
                        <div class="col-md-2  col-xs-8">{{selectedFlight.arriveTime}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row mt-1">
        <div class="panel col-md-12">
            <form #paymentForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group" class="col-md">
                        <label for="name" class="form-label">Name</label>
                        <input [(ngModel)]="model.name" type="text" class="form-control" name="name" id="name"
                            placeholder="Name" required>

                        <div class="form-group mt-2">
                            <label for="email" class="form-label">Email</label>
                            <input [(ngModel)]="model.email" type="email" class="form-control" name="email" id="email"
                                placeholder="Email"  required>

                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group col-md">
                            <label for="address" class="form-label">Address</label>
                            <textarea [(ngModel)]="model.address" class="form-control" name="address" id="address"
                                placeholder="Address" rows="4"  required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-5">
                        <label for="cardNum" class="form-label">Card Number</label>
                        <input [(ngModel)]="model.cardNum" type="text" class="form-control" name="cardNum" id="cardNum"
                            placeholder="Card Number"  required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cardType" class="form-label">Card Type</label>
                        <select [(ngModel)]="model.cardType" type="text" class="form-control" name="cardType" id="cardType"
                            placeholder="Card Type">
                            <option>VISA</option>
                            <option>AMEX</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="expDate" class="form-label">Card Expiry</label>
                        <input [(ngModel)]="model.expDate" type="date" class="form-control" name="expDate" id="expDate">
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.form.valid">Buy Flight</button>
                    </div>
                </div>


            </form>

        </div>
    </div>
    {{jsonModel}}
</div>