<div id="page-wrapper" class="mt-5">

    <h2 class="col-md-6">Completing this login form should fetch a JWT token from the authentication server. If all is configured correctly the server side functions to deliver flights should then allow access.
    </h2>
    <p>
        Note that until the server-side authentication is enabled the flights list does not require authentication.
    </p>
    <h2 class="text-danger">{{error}}</h2>
    <form [formGroup]="form" class="form-horizontal">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-9">
                    <input name="email" formControlName="email">
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-9">
                    <input name="password" formControlName="password" type="password">
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="button button-primary" (click)="login()">Login</button>
        </div>
    </form>
</div>