<mat-card appearance="outlined" >
    <app-flight-filter label="Origin" (filterEmitter) = "onOriginFilterChange($event)" [initialValue]='originFilter'></app-flight-filter>
    <app-flight-filter label="Destination" (filterEmitter) = "onDestinationFilterChange($event)" [initialValue]='destinationFilter'></app-flight-filter>
</mat-card>

@if(errorMessage){
<mat-card appearance="outlined" >    
    <h2 class="text-danger">{{errorMessage}}</h2>
</mat-card>    
}
@if (showBuyFlights){    
<mat-card appearance="outlined" >    
    <table class="table table-condensed table-responsive">
    <thead><tr><th></th><th>Flight</th><th>From</th><th>To</th><th>Departure</th><th>Arrival</th><th>Price</th></tr></thead>
    
    <tbody>
        @for (flight of flights; track flight.id) {
        <tr>
            <td><button (click)="onFlightClick(flight)" class="btn btn-primary btn-sm">Buy</button></td>
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.origin}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.departDay}} {{flight.departTime}}</td>
            <td>{{flight.arriveDay}} {{flight.arriveTime}}</td>
            <td>{{flight.price | currencyConversion : currencySymbol : currencyRate}}</td>
        </tr>
        }
    </tbody>
</table>
<div id="buttons">
    <button (click)="onPrevious()" mat-raised-button style="float:left">Previous</button> <button (click)="onNext()" mat-raised-button style="float:right">Next</button> 
</div>
</mat-card>
}
<a href='#' (click)="onClickBuyFlights()">Toggle Flights</a>
