<app-flight-filter (filterEmitter) = "onOriginFilterChange($event)" label="Origin"></app-flight-filter>
<app-flight-filter (filterEmitter) = "onDestinationFilterChange($event)" label="Destination"></app-flight-filter>
<table class="table table-condensed table-responsive" *ngIf="showBuyFlights">
    <thead><tr><th></th><th>Flight</th><th>From</th><th>To</th><th>Departure Day</th><th>Departure Time</th><th>Arrival Day</th><th>Arrival Time</th><th>Price</th></tr></thead>
    <tbody>
        <tr *ngFor="let flight of flights">
            <td><button (click)="onFlightClick(flight)" class="btn btn-primary btn-sm">Buy</button></td>
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.origin}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.departDay}} {{flight.departTime}}</td>
            <td>{{flight.arriveDay}} {{flight.arriveTime}}</td>
            <td>{{flight.price}}</td>
        </tr>
    </tbody>
</table>

<a href='#' (click)="onClickBuyFlights()">Toggle Flights</a>

<app-payment [selectedFlight]="selectedFlight"></app-payment>