
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FlySharp-primary: mat.define-palette(mat.$indigo-palette);
$FlySharp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FlySharp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FlySharp-theme: mat.define-light-theme((
  color: (
    primary: $FlySharp-primary,
    accent: $FlySharp-accent,
    warn: $FlySharp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FlySharp-theme);

/* Styles to make the overall application responsive */

mat-sidenav-content {
  min-height: 400px;
  margin: auto;
}

/* @media only screen and (min-width: 45em) {
  mat-sidenav-content {
    min-height: 400px;
    margin-top: 1rem;
  }
} */

/* @media only screen and (min-width: 60em) {
  mat-sidenav-content {
    margin-left: 2rem;
  }
} */

/* Form styles */
.form-outline {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}


.disabled {
  color: #ddd;
}

.form-label {
  font-weight: 600;
  margin-top: 0.5rem;
}


form *.ng-invalid {
  background-color: rgba(255, 0, 0, 0.205);
}

/* Styling for the payment dialogue. Has to go in the common CSS file as will not be loaded from component CSS! */
mat-dialog-container#modal-component {
  border: 3px solid #c5c5c7;
  border-radius: 11px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import './assets/scss/bootstrap.scss';
