@if (showBuyFlights) {
  <div class="row mt-3">
    <div class="col">
      <app-flight-filter [label]="'Origin'" [initialValue]="originFilter" (filterEmitter)="onOriginFilterChange($event)"></app-flight-filter>
    </div>
    <div class="col">
      <app-flight-filter [label]="'Destination'" [initialValue]="destinationFilter" (filterEmitter)="onDestinationFilterChange($event)"></app-flight-filter>
    </div>
  </div>
  <table class="table table-sm table-responsive">
    <thead>
    <tr>
      <th></th>
      <th>Flight</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Departs</th>
      <th>Arrives</th>
      <th>Price</th>
    </tr>
    </thead>
    @for (flight of flights; track flight.id) {
      <tr>
        <td><button (click)="onFlightClick(flight)" class="btn btn-primary btn-sm">Buy</button></td>
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.origin}}</td>
        <td>{{flight.destination}}</td>
        <td>{{flight.departDay}} {{flight.departTime}}</td>
        <td>{{flight.arriveDay}} {{flight.arriveTime}}</td>
        <td>{{flight.price | currencyConversion:currencySymbol:currencyRate}}</td>
      </tr>
    }
  </table>
}
<a href='#' (click)="onClickBuyFlights()">Toggle Flights</a>

<app-payment [selectedFlight]="selectedFlight"></app-payment>
