<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" [class.collapsed]="menuCollapsed" class="navbar-toggle" (click)="menuButtonClick()" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div [class.collapse]="menuCollapsed" class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li [class.active]="tabIndex === 'home'" (click)="onTabClick('home')"><a [routerLink]="['home']">Home</a></li>
        <li [class.active]="tabIndex === 'buy'" (click)="onTabClick('buy')"><a [routerLink]="['buy']">Buy Flights</a></li>
        <li [class.active]="tabIndex === 'myflights'" (click)="onTabClick('myflights')"><a [routerLink]="['myflights']">My Flights</a></li>
        <li [class.active]="tabIndex === 'account'" (click)="onTabClick('account')"><a [routerLink]="['account']">Account</a></li>
        <li [class.active]="tabIndex === 'test'" (click)="onTabClick('test')"><a [routerLink]="['test']">Account</a></li>

      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
