<div id="wrapper">
<!--    <div id="carousel">
        <app-carousel></app-carousel>
    </div>
-->    
    <div id="grid" class="home-container">
        <div id="row" class="">
            <div id="flight-status" class="border border-info debug-border info-box">
                <app-flight-status></app-flight-status>
            </div>
            <div id="offer" class="border border-info debug-border  info-box">
                <h2>Special Offer of the month {{specialOffer}}</h2>
            </div>
            <div id="org-dest-selector" class="border border-info info-box">
                <app-org-dest-selector></app-org-dest-selector>
            </div>
        </div>

    </div>
</div>