<div class="container">
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
    </div>
    <div class="card row mr-5 ml-3">
        <div class="card-body col">

            <span class="">Find Flights: </span>

            <span class="ps-2">
                <app-flight-filter (filterEmitter)="onOriginFilterChange($event)" label='Origin'
                    [initialValue]='originFilter'>
                </app-flight-filter>
            </span>
            <span class="ps-2">
                <app-flight-filter (filterEmitter)="onDestinationFilterChange($event)" label='Destination'
                    [initialValue]='destinationFilter'>
                </app-flight-filter>
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <h2 *ngIf="!showBuyFlights">Loading Flight Data</h2>


            <h2 *ngIf="errorMessage" class="text-danger">{{errorMessage}}</h2>
            <table *ngIf="showBuyFlights" class="table table-bordered  table-condensed ">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Flight</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of flights$ | async">
                        <td><button (click)="buyFlight(flight)" class="btn btn-primary btn-sm">Buy</button></td>
                        <td>{{flight.flightNumber}}</td>
                        <td>{{flight.origin}}</td>
                        <td>{{flight.destination}}</td>
                        <td>{{flight.departDay}} {{flight.departTime}}</td>
                        <td>{{flight.arriveDay}} {{flight.arriveTime}}</td>
                        <td>{{flight.price | currencyConversion : state.displayCurrency.symbol :
                            state.displayCurrency.rate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2  ">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" [class.disabled]="firstDisplayedFlightIndex===0" aria-label="Previous" (click)="onPrevious()">
                        <span>Previous</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" [class.disabled]="nextFlightToDisplayIndex >= flightCount" aria-label="Next" (click)="onNext()">                      
                        <span>Next</span>
                    </a>
                </li>
            </ul>
            <a (click)="toggleFlightDisplay()" id="toggle">Toggle Flights</a>
        </div>
    </div>
</div>
<!--<app-payment *ngIf='selectedFlight' [selectedFlight]="selectedFlight" (paymentConfirmed)="flightPurchased($event)">
</app-payment>-->